.story__pictures {
  background-color: var(--color-primary);
  grid-column: full-start / col-end 4;
  background-image: linear-gradient(rgba(198, 153, 99, .7), rgba(198, 153, 99, .7)), url(../../img/back.jpg);
  background-size: cover;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;

  @media only screen and (--bp-medium) {
    grid-column: 1 / -1;
    padding: 6rem;
  }

  .img-1 {
    width: 100%;
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, .1);

    @media only screen and (--bp-medium) {
      grid-column: 1 / 5;
      grid-row: 1 / -1;
    }
  }

  .img-2 {
    width: 115%;
    grid-row: 4 / 6;
    grid-column: 4 / 7;
    z-index: 20;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, .2);

    @media only screen and (--bp-medium) {
      grid-row: 1 / -1;
      width: 100%;
    }
  }
}