[class^="header-"] {
  font-family: var(--font-display);
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: var(--color-grey-light-1);
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;

  &--light { color: var(--color-grey-light-1); }
  &--dark { color: var(--color-grey-dark-1); }
}

.heading-3 {
  font-size: 1.6rem;
  color: var(--color-primary);
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;

  &--light { color: var(--color-grey-light-1); }
  &--dark { color: var(--color-grey-dark-1); }
}
