.home {
  background-color: var(--color-grey-light-1);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;

  .img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
  }

  .like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: var(--color-primary);
    height: 2.5rem;
    width: 2.5rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem;
  }

  .name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 3;

    width: 80%;
    font-family: var(--font-display);
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: var(--color-secondary);
    color: #fff;
    font-weight: 400;
    transform: translateY(50%);
  }

  .location,
  .rooms {
    margin-top: 2.5rem;
  }

  .location,
  .rooms,
  .area,
  .price {

    font-size: 1.5rem;
    margin-left: 2rem;

    display: flex;
    align-items: center;

    svg {
      fill: var(--color-primary);
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
    }
  }

  .btn {
    grid-column: 1 / -1;
  }
}