.realtor {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-column-gap: 2rem;
  align-items: center;

  .img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }

  .details {
    .sold {
      text-transform: uppercase;
      color: var(--color-grey-light-2);
      margin-top: -3px;
    }
  }
}
