.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  .icon {
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
    fill: var(--color-primary);
    width: 4.5rem;
    height: 4.5rem;
  }

  .description {
    font-size: 1.7rem;
  }
}