.header {
  background-color: var(--color-grey-dark-1);
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba(16, 29, 44, .93), rgba(16, 29, 44, .93)), url(../../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 4rem 8rem 8rem 8rem;

  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center;

  @media only screen and (--bp-medium) {
    grid-column: 1 / -1;
  }

  @media only screen and (--bp-small) {
    padding: 5rem;
  }

  .logo {
    height: 3rem;
    justify-self: center;
  }

  .btn {
    align-self: start;
    justify-self: start;
  }

  .seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;

    font-size: 1.6rem;
    color: var(--color-grey-light-2);

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  .seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center;

    img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%);
    }
  }
}