.footer {
  background-color: var(--color-secondary);
  grid-column: full-start / full-end;
  padding: 8rem;

  .nav {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;

    .link:link,
    .link:visited {
      font-size: 1.4rem;
      color: #fff;
      text-decoration: none;
      font-family: var(--font-display);
      text-transform: uppercase;
      text-align: center;
      padding: 1.5rem;
      display: block;
      transition: all .2s;
    }

    .link:hover,
    .link:active {
      background-color: rgba(255, 255, 255, .05);
      transform: translateY(-3px);
    }
  }

  .copyright {
    font-size: 1.4rem;
    color: var(--color-grey-light-2);
    margin: 6rem auto 0;
    text-align: center;
    width: 70%;
  }
}