.story__content {
  background-color: var(--color-grey-light-1);
  grid-column: col-start 5 / full-end;

  padding: 6rem 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media only screen and (--bp-medium) {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
  }

  .text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}