.realtors {
  background-color: var(--color-secondary);
  grid-column: col-start 7 / full-end;
  padding: 3rem;

  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem;

  @media only screen and (--bp-medium) {
    grid-column: 1 / -1;
  }

  .list {
    display: grid;
    grid-row-gap: 5vh;

    @media only screen and (--bp-medium) {
      grid-template-columns: repeat(3, min-content);
      grid-column-gap: 2rem;
    }

    @media only screen and (--bp-small) {
      grid-template-columns: min-content;
    }
  }
}